/*
 * _project-link.scss
 * Project link tag style
 */

.project-link {
  display: inline-block;
  position: relative;
  margin-left: 8px;
  padding: 3px 8px 3px 8px;
  background-color: #90a4ae;
  border-radius: 32px;
  font-size: 1rem;
  vertical-align: middle;
  color: white !important;
  transition: background-color 0.2s ease;

  // GitHub icon
  .icon {
    display: inline-block;
    position: relative;
    top: 2px;
    left: -1px;
    overflow: hidden;
    width: 0;
    opacity: 0;
    transition: width 0.2s ease, opacity 0.2s ease;

    img {
      min-width: 16px;
      min-height: 16px;
    }
  }

  &:hover {
    background-color: #546e7a;

    .icon {
      width: 22px;
      opacity: 1;
    }
  }

  // Version number
  .version {
    position: relative;
    top: -3px;
  }
}
