/*
 * _project-link.scss
 * Project link tag style
 */

.project-link {
  display: inline-flex;
  align-items: center;
  position: relative;
  margin-left: 8px;
  padding: 3px 8px 3px 7px;
  height: 26px;
  background-color: #90a4ae;
  border-radius: 32px;
  font-size: 1rem;
  color: white !important;
  transition: background-color 0.2s ease;

  // GitHub icon
  .icon {
    display: inline-block;
    overflow: hidden;
    margin-right: 1px;
    width: 0;
    height: 16px;
    opacity: 0;
    transition: width 0.2s ease, opacity 0.2s ease;

    img {
      min-width: 16px;
      min-height: 16px;
    }
  }

  &:hover {
    background-color: #546e7a;

    .icon {
      width: 21px;
      opacity: 1;
    }
  }
}
