/*
 * chart.css
 * Percentage bar chart style
 */

.chart {

  .chart-content {
    text-wrap: none;
    margin-top: 24px;
    white-space: nowrap;

    .chart-item {
      position: relative;
      display: inline-block;
      height: 32px;
      box-shadow: inset 0 0 128px rgba(255, 255, 255, 0);
      transition: box-shadow 0.25s ease;

      &:hover {
        box-shadow: inset 0 0 128px rgba(255, 255, 255, 0.4);
      }

      &:not(:last-child):after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 2px;
        background: white;
      }

      .chart-item-name {
        display: inline-block;
        position: absolute;
        top: 5px;
        left: 10px;
        max-width: calc(100% - 20px);
        color: white;
        font-size: 0.85rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        cursor: default;
      }
    }
  }

  .chart-legend {
    margin-top: 12px;

    .chart-legend-item {
      display: inline-block;
      cursor: default;

      .chart-legend-item-color {
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 6px;
        transition: opacity 0.25s ease;
      }

      &:hover .chart-legend-item-color {
        opacity: 0.6;
      }

      .chart-legend-item-name {
        position: relative;
        top: -2px;
        margin-right: 12px;
        font-size: 0.8rem;
      }
    }
  }
}

/* "No data" message for empty charts */
.no-data {
  position: relative;
  font-size: 2rem;
  color: #aaa;
  text-align: center;
  padding: 20px 0;
}
