/*
 * file-explorer.css
 * File explorer component style
 */

.file-explorer {

  .fe-header {
    position: relative;
    display: flex;
    margin-bottom: 8px;
    cursor: default;

    .fe-title {
      margin-right: auto;
      font-weight: 600;
    }

    .fe-btn {
      position: relative;
      margin-left: 4px;
      white-space: nowrap;
      cursor: pointer;
      user-select: none;

      &:active {
        color: rgba(0, 0, 0, 0.65);
      }
    }

    .copy {
      input {
        background: transparent;
        border: none;
        outline: none;
        width: 1px;
        padding: 0;
        opacity: 0;
      }
    }
  }

  .has-ellipsis {
    display: inline-block;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
  }

  ul {
    margin: 0;

    li {
      position: relative;
      margin: 0;
      padding: 4px;
      border-radius: 4px;
      list-style: none;
      cursor: default;
      user-select: none;

      &:hover {
        background-color: #e5e5e5;
      }

      &.fe-dir, &.up {
        cursor: pointer;
      }

      &::before {
        content: "\1F4C1";
        list-style: none;
        margin: 0 6px;
      }

      &.fe-file::before {
        content: "\1F4C4";
      }

      &.up::before {
        content: "\2B05\FE0F";
      }

      .name {
        position: relative;
        max-width: 75%;
        z-index: 1;
      }

      .bar {
        position: absolute;
        top: 4px;
        bottom: 4px;
        right: 4px;
        background-color: #b3e5fc;
        border-radius: 2px;
        transition: width 0.25s ease;
      }

      .legend {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        font-size: 0.75rem;
      }
    }
  }
}
